<head>
    ...
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1.2">
    
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if current_user.is_authenticated and not current_user.timezone %}
    
    {% endif %}
    {% block content %}{% endblock %}

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}?v=1.2"></script>
</body>

